<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/template/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/template/static/icons8-linux-50.png">
    <link rel="stylesheet" href="/template/static/css/my.css">
    <script type="importmap">
      {
        "imports": {
            "vue": "/template/static/js/vue.esm-browser.js",
            "start": "/template/components/cache/start.js",
            "login": "/template/components/cache/login.js"
        }
      }
    </script>
    <title>Login</title>
</head>