<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/template/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/template/static/icons8-linux-50.png">
    <script type="importmap">
      {
        "imports": {
            "vue": "/template/static/js/vue.esm-browser.js",
            "start": "/template/components/cache/start.js"
        }
      }
    </script>
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Index Page</h1>
    <ul>
        [[range .]]
            <li>[[.]]</li>
        [[end]]
    </ul>
    <hr>

    <div id="app">{{ message }}
      <br>
      <start></start>
    </div>
  </div>


  <script type="module">
    import { createApp, ref } from 'vue'
    import start from 'start'
  
    createApp({
      components: {start},
      setup() {
        const message = ref('Hello Vue!')
        return {
          message
        }
      }
    }).mount('#app')
  </script>


<script src="/template/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
